@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
/* 1. Colores hexadecimales
----------------------------------------------- */
.My-Color-Theme-1-hex { color: #00395C; }
.My-Color-Theme-2-hex { color: #00609C; }
.My-Color-Theme-3-hex { color: #0078C2; }
.My-Color-Theme-4-hex { color: #0087DB; }
.My-Color-Theme-5-hex { color: #008FE8; }

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Rubik;
}

.sideBar {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 15%;
    background-color: #00416a;
}

.content {
    position: absolute;
    top: 0%;
    left: 15%;
    height: 100%;
    width: 85%;
    background-color: rgb(0, 42, 68);
}

.sideBar .logo img{
    position: absolute;
    top: 40px;
    left: 27%;
}

.sideBar .icon-profile{
    position: relative;
    top: 170px;
    left: 15%;
    background-color: #ffffff;
    border: 3px solid rgb(0, 42, 68);
    padding: 14px 10px;
    border-radius: 100%;
}

.sideBar .icon-profile i{
    color: #00395C;
    position: relative;
    font-size: 30px;
    top: 4px;
}

.sideBar .userName{
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    top: 300px;
    left: 15%;
    color: white;
}

.sideBar .menu{
    position: relative;
    top: 300px;
}

.sideBar .menu li{
    position: relative;
    padding: 24px 0px;
    list-style: none;
}

.sideBar .menu li:hover{
    background-color: rgb(0, 70, 113);
    color: rgb(77, 178, 240);
}

.sideBar .menu i{
    position: relative;
    left: 15%;
}

.sideBar .menu a{
    position: absolute;
    text-decoration: none;
    color: white;
    top: 22px;
    left: 30%;
    font-size: 17px;
}

.sideBar .menu a:hover{
    color: rgb(77, 178, 240);
}

.btnPresionar{
    position: relative;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    background-color: #00609C;
    color: #ffffff;
    border: none;
}

.btn{
    padding: 10px 20px;
    font-size: 16px;
    color: #6aa3d8;
}


/*Cambio de color de hover en la tabla (poner mouse encima)*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    background-color: #2E5F7E;
    color: white;
}
/*Fin Cambio de color de hover en la tabla (poner mouse encima)*/
